@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --color-primary-button: #004A53;
    --color-primary-hover-button: #2B6870;
    --color-secondary-button:#fff;
    --color-secondary-hover-button: #2B6870;
    --color-link-navigation: #00004C;
    --color-link-hover-navigation: #35527A;
    --color-text-navigation: #4D525F;
    --color-bg-banner: #ECFDFF;
    --color-bg-jumbotron:#CCDBDD;
}

*
{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: sitka;
    font-size:20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
font-family:  Fredoka, serif;
font-size:56px;
line-height:61.6px;
font-weight: 400;
font-style: normal;
}


h2
{
font-size:48px;
line-height:52.8px;
}

@media screen and (max-width: 320px)
{
h1, h2
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: var(--color-bg-button);
font-weight: bolder;
font-size:27px;
text-align: center;
}
}


h3
{
font-size:40px;
line-height:44px;
}

h4
{
font-size:32px;
line-height:35.2px;
}

h5
{
font-size:24px;
line-height:26.4px;
}

h6
{
font-size:20px;
line-height:22px;
}

@media (max-width: 400px)
{
  .button-container {
    flex-wrap: wrap;
    flex: 0 100%;
  }
}


.primaryButton
{
width: 205px;
height:60px;
padding: 16px 20px;
border-radius:4px;
background: var(--color-primary-button);
color:#fff;
font-size: 14px;
}



.primaryButton:hover
{
    background: var(--color-primary-hover-button);
    color:#fff;
}

.secondaryButton
{
padding: 16px 20px;
width:205px;
height:60px;
border-width: 1px;
border-color:#004A53;
border-style: solid;
background: var(--color-secondary-button);
color: #004A53;
font-size: 14px;
}

.secondaryButton:hover
{
    background: var(--color-secondary-hover-button);
    color: #fff;
}


#navbarSupportedContent
{
    width: 222px;
    height: 27px;
}

 .nav-link
{
font-family:  "sitka text", serif;
font-size: 12px;
font-weight:300;
letter-spacing: 1%;
text-transform: none !important;
}

.navbar .navbar-nav .nav-item:hover {
    border-bottom: 2px solid var(--color-link-navigation);
}

a.nav-link
{
    text-transform: none !important;
}

a.nav-link:hover
{
    color: var(--color-primary-hover-button);
}

a.nav-link.active
{
    font-weight: 600;
}

.nav-item li{
    width:64px;
    height: 27px;
  }




.subscribe
{
    background: var(--color-bg-jumbotron);
    text-align: left;
}

span
{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* h1, h2
{
font-family: quicksand, sans-serif;
color: var(--color-bg-button);
font-weight:bold;
font-size:64px;
font-style:regular;
} */



@media screen and (max-width: 320px)
{
.achieve
{
    font-size: 10px;
    text-align: center;
}
}

/* h4
{
font-family: arial-black;
color: var(--color-bg-button);
font-weight:bolder;
font-style: regular;
font-size:31px;
}

h3
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: var(--color-bg-button);
font-style: regular;
font-weight: bolder;
font-size:35px;
}


h6
{
 font-weight:bold;
 font-size:16px;
} */

p
{
    font: sitka;
    font-size: 20px;
}

ul, li
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-bg-button);
    font-weight: bold;

}

@media screen and(max-width: 320px)
{
h1, h2, h3
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: var(--color-bg-button);
font-weight: bold;
font-size:30px;
}
}

p
{
font-family: sitka;
font-size: 15px;
color: #4D525F;
}


.banner
{
background:var(--color-bg-banner);
font-size: 10px;
font-family:Fredoka One;
}

.heroheading
{
    font-family:  Fredoka, serif;
    font-weight:bolder;
    font-size: 48px;
    line-height: 150%;
    vertical-align: middle;
    letter-spacing: 1%;
}

@media(max-width: 400px)
{
.heroheading
{
    font-size: 20px;
}
}

.heroparagraph
{
    font-family: sitka, serif;
    font-weight: 400;
    font-size:16px;
    vertical-align: middle;
    letter-spacing: 1%;
}

@media(max-width: 400px)
{
    .heroparagraph
    {
        font-size: 12px;
    }
}

.jumbotron
{
    background: var(--color-bg-jumbotron);
    border-radius: 30px;
}


.pricingcolor
{
    color: #454545;
}
.nav-item a {
color: var(--color-text-navigation);
font-family: sitka;
font-weight: normal;
}



header
{
    width:100%;
}
/* .nav-btn .nav-item li{
    list-style: none;
  }

  .nav-btn .nav-item {
    align-items: center;
    gap: 1rem;
  }


  .nav-btn .nav-item i {
    background-color: var(--color-ash);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
  } */

  .navButton:hover
  {
   background: var(--color-link-hover-navigation);
   color: #fff;
  }




/* @media screen and (max-width: 320px)
{
  .demo
  {
   width:80%;
   margin-top:10px;
      font-family: sitka;
  }
}


  .demo:hover
  {
   background: var(--color-bg-banner);
   color: #fff;
   font-family: sitka;
  } */

/* .container__header .nav-item:hover {
    border-bottom: 2px solid var(--color-link-navigation);
} */

.container__header
{
    height:150px;
    width: 100%;
}

.container__header .nav-item li{
    list-style: none;
    font-family: sitka;
  }



  /* .nav-btn .nav-item {
    align-items: center;
    gap: 1rem;
  }


  .nav-btn .nav-item i {
    background-color: var(--color-ash);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
  } */


  .subscribe-btn
  {
    background: var(--color-bg-button);
    color:#fff;
  }



  .outer-square {
    width: 25px;
    height: 25px;
    border: 2px solid #004d40;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 12px; /* Adjust size to be half of the outer square */
    height: 12px; /* Adjust size to be half of the outer square */
    background-color: #004d40; /* The inner circle's color */
    border-radius: 50%; /* To make it a perfect circle */
}



      /* .banner-text {
            font-family: 'Poppins', sans-serif;
            color: #045a5a;
            font-size: clamp(1.2rem, 3vw, 2.5rem);
            line-height: 1.2;
        } */


        .container__footer {
            /* border-top: 1px solid var(--color-ash); */
            background: #004A53;
            margin-top: 2rem;
            text-align: center;
        }

        .footer__container .row {
            font-size: 0.8rem;
            padding: 0.5rem 0;
            justify-content: space-between;
        }

        .footer__container a {
            text-decoration: none;
            color: var(--color-bg-ash);
        }

        .footer__container a:hover {
            text-decoration: none;
            color: var(--color-primary-blue);
        }

.bg-container-fluid
{
    margin-top: 30px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100px;
    text-align: center;
    background-position: center center;
    min-height: 300px;
}




 /* .bullet-point
 {
  width: 1rem;
  height: 1rem;
  background-color: #006064;
  flex-shrink: 0;
  margin-top: 0.25rem;
} */


/* .custom-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
} */
