@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --color-primary-button: #004A53;
    --color-primary-hover-button: #2B6870;
    --color-secondary-button:#fff;
    --color-secondary-hover-button: #2B6870;
    --color-link-navigation: #00004C;
    --color-link-hover-navigation: #35527A;
    --color-text-navigation: #4D525F;
    --color-bg-banner: #FDAF22;
    --color-bg-jumbotron:#CCDBDD;
}

*
{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: sitka;
    font-size:20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner
{
    background: var(--color-bg-banner);
}


h1
{
font-family:  Fredoka, serif;
font-size:60px;
line-height:61.6px;
font-weight: 400;
font-style: normal;
color:var(--color-primary-button);
}


h2
{
font-family:  Fredoka, serif;
font-weight: bolder;
font-size:48px;
line-height:52.8px;
color:var(--color-primary-button);
}

h3
{
font-family:  Fredoka, serif;
font-weight: bolder;
font-size:40px;
line-height:44px;
color:var(--color-primary-button);
}

h4
{
font-family:  Fredoka, serif;
font-weight: bolder;
font-size:32px;
line-height:35.2px;
color:var(--color-primary-button);
}

h5
{
font-family:  Fredoka, serif;
font-weight: bolder;
font-size:24px;
line-height:26.4px;
color:var(--color-primary-button);
}

h6
{
font-weight: bolder;
font-family:  Fredoka, serif;
font-size:20px;
line-height:22px;
color:var(--color-primary-button);
}

/* @media screen and (max-width: 320px)
{
    .banner h1
    {
        font-size: 18px;
        line-height:18px;
    }
} */

@media (max-width: 400px)
{
  .button-container {
    flex-wrap: wrap;
    flex: 0 100%;
  }
}


.primaryButton
{
width: 205px;
height:60px;
padding: 16px 20px;
border-radius:4px;
background: var(--color-bg-banner);
color:#fff;
font-size: 14px;
}



.primaryButton:hover
{
    background: #ffefd9;
    color: var(--color-bg-banner);
}

.secondaryButton
{
padding: 16px 20px;
width:205px;
height:60px;
border-width: 1px;
border-color:#004A53;
border-style: solid;
background: var(--color-secondary-button);
color: #004A53;
font-size: 14px;
}

.secondaryButton:hover
{
    background: var(--color-secondary-hover-button);
    color: #fff;
}


#navbarSupportedContent
{
    width: 222px;
    height: 27px;
}

.nav-item
{
    color:#fff;
}

.nav a
{
font-family: outfit;
font-size:16px;
text-decoration: none;
color: #fff;
}

.navbar .navbar-nav .nav-item:hover {
    border-bottom: 2px solid var(--color-link-navigation);
}

.nav-link
{
    font-size: 14px;
}

a.nav-link:hover
{
    color: var(--color-primary-hover-button);
}

a.nav-link.active
{
    font-weight: 600;
}

.nav-item li{
    width:64px;
    height: 27px;
  }




.subscribe
{
    background: var(--color-bg-banner);
    text-align:left;
    padding:50px;
}

span
{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




@media screen and (max-width:320px)
{
.achieve h3
{
    font-size: 18px;
    text-align: center;
}
}



p
{
    font: sitka;
    font-size: 20px;
}

ul, li
{
    font-size: 16px;

}

@media screen and (max-width: 320px)
{
h1
{
font-family: Fredoka One;
color:  var(--color-primary-button);
font-weight:bolder;
font-size:20px;
}
}

p
{
font-family: sitka;
font-size: 15px;
color: #4D525F;
}



.heroheading
{
    font-family:  Fredoka, serif;
    font-weight:bolder;
    font-size: 45px;
    line-height: 150%;
    vertical-align: middle;
    letter-spacing: 1%;
}

@media screen and (max-width: 320px)
{
    .heroheading
    {
        font-size: 18px;
    }
}



.heroparagraph
{
    font-family: sitka, serif;
    font-weight: 400;
    font-size:16px;
    vertical-align: middle;
    letter-spacing: 1%;
}

@media(max-width: 400px)
{
    .heroparagraph
    {
        font-size: 12px;
    }
}


 .feature-card {
      padding: 20px;
    }

    .feature-icon {
      font-size: 2rem;
      color: #f15a29;
    }

    .feature-number {
      font-weight: bold;
      font-size: 2rem;
      color: #e6e6e6;
      position: absolute;
      top: -8px;
      left: 160px;
      z-index: 0;
      opacity: 0.3;
    }

    @media (max-width: 576px) {
      .feature-number {
        left: 120px;
      }

    }

    .feature-content {
      position: relative;
      z-index: 1;
    }

    h5 {
      font-weight: bold;
    }

.ourproduct1
{
    background: var(--color-bg-jumbotron);
    border-radius: 30px;
    top:50px;
    left:100px;
    /* height: 400px; */
}

/* @media screen and (max-width: 320px)
{
.ourproduct1
{
display: flex;
flex-direction: row-reverse;
margin: 10px;
}
} */


.ourproduct2
{
    border: 1px solid #000;
    margin-top:50px;
    border-radius: 50px;
    margin-bottom: 50px;
    /* height: 400px; */
    left: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.pricingcolor
{
    color: #454545;
    font-family: inter;
    font-size: 18px;
    line-height:10px;

}

@media screen and (max-width: 320px)
{
.off
{
display: block;
}
}


.nav-item a {
color: var(--color-text-navigation);
font-family: sitka;
font-weight: normal;
}



/* header
{
    width:100%;
} */
/* .nav-btn .nav-item li{
    list-style: none;
  }

  .nav-btn .nav-item {
    align-items: center;
    gap: 1rem;
  }


  .nav-btn .nav-item i {
    background-color: var(--color-ash);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
  } */

  .navButton:hover
  {
   background: var(--color-link-hover-navigation);
   color: #fff;
  }

.container__header
{
    height:150px;
    width: 100%;
}

.container__header .nav-item li{
    list-style: none;
    font-family: sitka;
  }



  /* .nav-btn .nav-item {
    align-items: center;
    gap: 1rem;
  }


  .nav-btn .nav-item i {
    background-color: var(--color-ash);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
  } */


  .subscribe-btn
  {
    background: var(--color-bg-button);
    color:#fff;
  }



  .outer-square {
    width: 25px;
    height: 25px;
    border: 2px solid #F56824;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 12px;
    height: 12px;
    background-color: #F56824;
    border-radius: 50%;
}



      /* .banner-text {
            font-family: 'Poppins', sans-serif;
            color: #045a5a;
            font-size: clamp(1.2rem, 3vw, 2.5rem);
            line-height: 1.2;
        } */


        footer {
            background: #004A53;
            text-align: left;
        }

        footer img{
            padding-top:20px;
        }

        footer p{
            color:#fff;
        }


.bg-container-fluid
{
    /* margin-top: 30px; */
    /* background-image: url('../css/images/background.png'); */
    /* background-image: url("{{ Vite::asset('../css/images/background.png') }}"); */
    background-repeat: no-repeat;
    background-size: 3px;
    text-align: center;
    min-height: 230px;
    background-size:contain;
    /* background-image: url('../images/background.png'); */
}




 .bullet-point
 {
  width: 1rem;
  height: 1rem;
  background-color: #006064;
  flex-shrink: 0;
  margin-top: 0.25rem;
}


/* .custom-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
} */


/* Section Background */
    .testimonial-section {
      background-color: #fff; /* greenish-grey */
      padding: 60px 40px;
      border-radius: 0 0 40px 40px;
      position: relative;
    }

    /* Header Area */
    .section-subtitle {
      color: #f39c12; /* orange */
      font-weight: 600;
      margin-top: 8px;
      padding-top: 20px;
    }



    /* .testimonial-card {
  background: #ffe6eb;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  border: 2px dashed #555;
  overflow: visible;
}

.testimonial-img {
  width: 60px;
  height: 60px;
  top: -25px;
  right: 20px;
  border: 3px solid #fff;
  object-fit: cover;
} */

/* Background Trophy */
/* .bg-trophy {
  background-image: url('images/trophys.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #333;
} */

/* Testimonial Card */
.testimonial-card {
  background: #ffe6eb;
  border-radius: 10px;
  /* border: 2px dashed #555; */
  position: relative;
   transform: rotate(-2deg);
}

/* Testimonial Image */
.testimonial-img {
  width: 60px;
  height: 60px;
  top: -25px;
  right: 20px;
  border: 3px solid #fff;
  object-fit: cover;
}

/* Default: full width on mobile */
.custom-width {
  width: 50%;
    border: 2px dashed #555;
    margin-left: 20px;

}

/* Desktop: 25% width */
@media (min-width: 992px) {
  .custom-width {
    width: 35% !important;
  }
}


